<%-include('partials/userHeader')%>
<%-include('partials/userNavbar')%>

<div class="hero-wrap hero-bread" style="background-image: url(/uploads/aboutUsbanner.png);">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-0 bread" style="background: white;">About Us</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-no-pt ftco-no-pb">
          <div class="container">
              <div class="row no-gutters ftco-services">
        <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services p-4 py-md-5">
            <div class="icon d-flex justify-content-center align-items-center mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="black" class="bi bi-truck mt-5" viewBox="0 0 16 16">
					<path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
				  </svg>
            </div>
            <div class="media-body">
              <h3 class="heading">Free Shipping</h3>
              <p>Enjoy hassle-free shopping with free shipping on all orders. No hidden fees, just seamless delivery straight to your doorstep!</p>
            </div>
          </div>      
        </div>
        <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services p-4 py-md-5">
            <div class="icon d-flex justify-content-center align-items-center mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="black" class="bi bi-telephone mt-5" viewBox="0 0 16 16">
					<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
				  </svg>
            </div>
            <div class="media-body">
              <h3 class="heading">Support Customer</h3>
              <p>Got questions? Our 24/7 customer support is always ready to help. Fast, friendly, and dedicated to your satisfaction!</p>
            </div>
          </div>    
        </div>
        <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services p-4 py-md-5">
            <div class="icon d-flex justify-content-center align-items-center mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="black" class="bi bi-person-lock mt-5" viewBox="0 0 16 16">
					<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m0 5.996V14H3s-1 0-1-1 1-4 6-4q.845.002 1.544.107a4.5 4.5 0 0 0-.803.918A11 11 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664zM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1"/>
				  </svg>
            </div>
            <div class="media-body">
              <h3 class="heading">Secure Payments</h3>
              <p>Shop with confidence! We offer 100% secure payments with trusted gateways, ensuring your transactions are safe and protected.</p>
            </div>
          </div>      
        </div>
      </div>
          </div>
      </section>

  <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
          <div class="container">
              <div class="row">
                  <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('/login_page_bgimages/store logo.jpg');">

                  </div>
                  <div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
            <div class="heading-section-bold mb-4 mt-md-5">
                <div class="ml-md-0">
                  <h2 class="mb-4">Stablished Sinced 2025</h2>
              </div>
            </div>
            <div class="pb-md-5 pb-4">
                          <p>Since its inception in 2025, DejaVu Men's Store has been dedicated to redefining men's fashion with a blend of timeless style and modern trends. Our journey began with a passion for quality and craftsmanship, ensuring that every piece reflects elegance, comfort, and individuality for the contemporary man.</p>
                          <p>At DejaVu, we believe fashion is more than just clothing—it's a statement. Our collections are curated to inspire confidence, whether for casual outings or formal occasions. With a commitment to excellence, customer satisfaction, and evolving trends, we strive to bring the finest styles to men who appreciate sophistication and authenticity.</p>
                          <p><a href="/shop" class="btn btn-primary">Shop now</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </section>

  <section class="ftco-section testimony-section">
    <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <div class="services-flow">
                  <div class="services-2 p-4 d-flex ftco-animate">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="black" class="bi bi-truck mt-2" viewBox="0 0 16 16">
                            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                          </svg>
                      </div>
                      <div class="text">
                          <h3>Free Shipping</h3>
                          <p class="mb-0">Enjoy fast, hassle-free delivery on all your orders.</p>
                      </div>
                  </div>
                  <div class="services-2 p-4 d-flex ftco-animate">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="black" class="bi bi-box2-heart-fill mt-2" viewBox="0 0 16 16">
                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4zM8.5 4h6l.5.667V5H1v-.333L1.5 4h6V1h1zM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                          </svg>
                      </div>
                      <div class="text">
                          <h3>Valuable Gifts</h3>
                          <p class="mb-0">Exclusive rewards and surprises with every purchase you make.</p>
                      </div>
                  </div>
                  <div class="services-2 p-4 d-flex ftco-animate">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="black" class="bi bi-telephone-fill mt-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                          </svg>
                      </div>
                      <div class="text">
                          <h3>All Day Support</h3>
                          <p class="mb-0">Our team is available 24/7 to assist you and answer you queries anytime.</p>
                      </div>
                  </div>
                  <div class="services-2 p-4 d-flex ftco-animate">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="white" class="bi bi-shield-lock mt-2" viewBox="0 0 16 16">
                            <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                            <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"/>
                          </svg>
                      </div>
                      <div class="text">
                          <h3>Secure Payments</h3>
                          <p class="mb-0">Shop confidently with our safe and encrypted payment options.</p>
                      </div>
                  </div>
              </div>
          </div>
        <div class="col-lg-7">
            <div class="heading-section ftco-animate mb-5">
              <h2 class="mb-4">Our satisfied customer says</h2>
              <p>"Our satisfied customers rave about DejaVu Men's Store for its premium quality, trendy collections, and outstanding service. From stylish outfits to seamless shopping experiences, we prioritize excellence. Hear from our happy customers and discover why DejaVu is the ultimate destination for men's fashion. Your style, our commitment!"</p>
            </div>
        </div>
      </div>
    </div>
  </section>

<%- include('partials/userFooter') %>