<%-include('partials/userHeader')%>

<style>
    /*Start Global Style*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:#e9ebee;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: auto;
    padding: 20px;
    height:100%
}

.login ,.register{width: 50%}

/*Start Login Style*/
.login{
    float:left;
    background-color: #fafafa;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding-top: 100px;
}
.login h1{
    margin-bottom: 40px;
    font-size: 2.5em;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #eeeeef;
}
input[type="checkbox"]{
    float: left;
    margin-right: 5px;
}
.login span{
    float: left
}
.login a{
    float: right;
    text-decoration: none;
    color: #000;
    transition: 0.3s all ease-in-out;
}
.login a:hover{color: #9526a9;font-weight: bold}
input[type="submit"]{
    width: 100%;
    margin: 30px 0 0 0;
    padding: 10px;
    border: none;
    background-color: #c2a942;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
input[type="submit"]:hover{
    width:97%;
    font-size: 22px;
    border-radius: 5px;
    
}
.login button{
    width: 100%;
    margin: 30px 0 0 0;
    padding: 10px;
    border: none;
    background-color: #c2a942;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.login button:hover{
    width:97%;
    font-size: 22px;
    border-radius: 5px;
    
}
.login hr{
    width: 30%;
    display: inline-block
}

.login p{
    display: inline-block;
    margin: 0px 10px 30px;
}
.login ul{
    list-style: none;
}
.login ul li{
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}
.login ul li:hover{opacity: 0.6}
.login ul li:last-child{margin-right: 0}
.login .copyright{
    display: inline-block;
    float: none;
}
/*Start Register Style*/
.register{
    float: right;
    background-image: url(/login_page_bgimages/LoginFirstImage.jpg);
    height: 100%;
    border-radius:  0 10px 10px  0;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register h2{
    margin: 30px 0;
    font-size: 50px;
    letter-spacing: 3px
}
.register p{
    font-size: 18px;
    margin-bottom: 30px;
}
.register button{
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition:0.2s all  ease-in-out;
}
.register button:hover{
    color: #9526a9;
    background-color: #fff;
    cursor: pointer;
}
#logoImg{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .register {
        display: none;
    }
    .login{
        width:100%
    }
    .container{
        width: 100%;
    }
}
</style>

<div class="container">
    <div class="login">
       <div class="container">
            <h1>Enter the OTP</h1>
            <% if(OTPerr.length>0) { %>
                <br>
                <p class="text-danger"><%= OTPerr %></p>
            <% } %>
            <form action="/user/signup-VerifyOTP" method="post" onsubmit="validateOTP(event)">
                <input type="text" placeholder="Enter OTP" name="otp" id="otp" required><br>
                <input id="submitBtn" type="submit" value="Verify OTP"/>
            </form>
            <form id="resendOTPform" action="/user/resendOTP" method="post">
                <button id="resendOTPbutton" style="background-color: grey;">Resend OTP</button>
            </form>
       </div>
    </div>
    <div class="register">
        <img id="logoImg" src="/login_page_bgimages/store logo.jpg" alt="" style="height: 50%;">
    </div>  
  </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const resendOTPbtn = document.getElementById('resendOTPbutton')
    const resendOTPform = document.getElementById('resendOTPform')
    let timer=60

    function disableResendOtpBtn(){
        resendOTPbtn.disabled=true
        let countdown=timer
        const interval=setInterval(()=>{
            if(timer<=0){
                clearInterval(interval)
                resendOTPbtn.disabled=false
                resendOTPbtn.innerText='Resend OTP'
            }else{
                resendOTPbtn.innerText=`Resend OTP in ${timer}`
                timer--
            }
        },1000)
    }

    disableResendOtpBtn()

    resendOTPform.addEventListener('submit', ()=>{
        disableResendOtpBtn()
    })

    function validateOTP(event){
        event.preventDefault()
        const otpInput=document.getElementById('otp').value
        fetch(`/user/signup-VerifyOTP?otp=${otpInput}`, {
            method:'GET'
        })
        .then(response=>response.json())
        .then(data=>{
            if(data.success){
                window.location.href='/user/signup-details'
            }else{
                Swal.fire({
                    icon:'error',
                    title:'Invalid OTP',
                    text:'Please try again'
                })
            }
        })
    }

    document.getElementById('logoImg').addEventListener('click', ()=>{
        window.location.href='/user'
    })
</script>

