
<script src="/jquery.min.js"></script>
<script src="/jquery-migrate-3.0.1.min.js"></script>
<script src="/popper.min.js"></script>
<script src="/jquery.easing.1.3.js"></script>
<script src="/jquery.waypoints.min.js"></script>
<script src="/jquery.stellar.min.js"></script>
<script src="/owl.carousel.min.js"></script>
<script src="/jquery.magnific-popup.min.js"></script>
<script src="/aos.js"></script>
<script src="/jquery.animateNumber.min.js"></script>
<script src="/bootstrap-datepicker.js"></script>
<script src="/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/google-map.js"></script>
<script src="/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
</body>
</html>