<style>
  #logout{
    background: none;
    border: none;
    font-size: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1;
    color: red;
  }
</style>

<body class="goto-here">
    <div class="py-1 bg-black">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <span class="text">+ 1235 2355 98</span>
                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                        <span class="text">youremail@email.com</span>
                    </div>
                    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                        <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/user">DejaVu Mens Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/user" class="nav-link">Home</a></li>
          <li class="nav-item active"><a href="/user/shop" class="nav-link">Shop</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
          <li class="nav-item"><a href="blog.html" class="nav-link">Contact Us</a></li>
          <li class="nav-item"><a href="/user/cart" class="nav-link">Cart<i class="bi bi-cart-fill"></i></a></li>
          <li class="nav-item"><a href="blog.html" class="nav-link">Wishlist</a></li>
          <li class="nav-item"><a href="/user/settings/basicInfo" class="nav-link">Settings</a></li>
          <% if(isLogged) { %>
            <li class="nav-item"><form action="/user/logout" method="post"><input id="logout" type="submit" value="Logout"></form></li>
          <% }else{ %>
            <li class="nav-item"><a href="/user/login" class="nav-link" style="color: rgba(0, 38, 255, 0.916);">Login</a></li>
          <% } %>
        </ul>   
      </div>
    </div>
  </nav>