<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">DejaVu Mens Store</h2>
            <p>Where fashion Meets quanlity.</p>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Menu</h2>
            <ul class="list-unstyled">
              <li><a href="/shop" class="py-2 d-block">Shop</a></li>
              <li><a href="/aboutUs" class="py-2 d-block">About</a></li>
              <li><a href="/contactUs" class="py-2 d-block">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Help</h2>
            <div class="d-flex">
                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                  <li><a href="/aboutUs" class="py-2 d-block">Shipping Information</a></li>
                  <li><a href="/aboutUs" class="py-2 d-block">Returns &amp; Exchange</a></li>
                  <li><a href="/aboutUs" class="py-2 d-block">Terms &amp; Conditions</a></li>
                  <li><a href="/aboutUs" class="py-2 d-block">Privacy Policy</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li><a href="/aboutUs" class="py-2 d-block">FAQs</a></li>
                  <li><a href="/aboutUs" class="py-2 d-block">Contact</a></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">1527 Fashion Ave, Los Angeles, CA 90015, USA</span></li>
                  <li><a href="/aboutUs"><span class="icon icon-phone"></span><span class="text">+1 (213) 555-7890</span></a></li>
                  <li><a href="/aboutUs"><span class="icon icon-envelope"></span><span class="text">dejavubusiness@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </footer>



<script src="/jquery.min.js"></script>
<script src="/jquery-migrate-3.0.1.min.js"></script>
<script src="/popper.min.js"></script>
<script src="/jquery.easing.1.3.js"></script>
<script src="/jquery.waypoints.min.js"></script>
<script src="/jquery.stellar.min.js"></script>
<script src="/owl.carousel.min.js"></script>
<script src="/jquery.magnific-popup.min.js"></script>
<script src="/aos.js"></script>
<script src="/jquery.animateNumber.min.js"></script>
<script src="/bootstrap-datepicker.js"></script>
<script src="/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/google-map.js"></script>
<script src="/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
</body>
</html>